.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: pulse infinite 5s ease-in-out;
  }
}

$page-color: #ff6767;
$text-color: white;

.App-header {
  background: linear-gradient(#ff1111, #56ff56,blue, #ffe800,#ff40ef);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-color;
}

.App-header p {
  margin-top: 10vh;
}

.App-link {
  color: white;
}

.App-link:hover {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  transition: 1s;
}

code {
  font-weight: bold;
}

img {
  border-radius: 50px;
}

.App-header {
  transform: scale(0.9);
}

.App-header:hover {
  transform: scale(1);
}

#logo-box:active{
  transform: scale(0.7);

}

@keyframes pulse {

  from {
    background-color: black;
  }

  to {
    background-color: black;
  }
}
